<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<script src="https://unpkg.com/htmx.org@1.9.11"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://kit.fontawesome.com/cc9d8ec964.js" crossorigin="anonymous"></script>

</head>

<body class="bg-neutral-900">
	<nav>
		<div class="nav-wrapper black">
			<a href="/" class="brand-logo">Harry Sharma</a>

			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
	</nav>
	<h1 class="text-white">About</h1>
	<div class="flex flex-wrap gap-10 mt-10 ml-10 mr-10 mb-10">
		<p class="text-white">Hello</p>
	</div>
	<footer class="page-footer black">
		<div class="footer-copyright">
			<div class="container">
				© Harry Sharma 2024
				<div class="flex flex-wrap gap-1 right">
					<a class="grey-text text-lighten-4 right"
						href="https://github.com/harrysharma1">
						<i class="fa-brands fa-github" style="font-size:24px;"></i>
					</a>
					&nbsp;
					<a class="grey-text text-lighten-4 right"
						href="https://www.linkedin.com/in/harry-sharma-567b21225/">
						<i class="fa-brands fa-linkedin" style="font-size:24px;"></i>
					</a>
					&nbsp;
					<a class="grey-text text-lighten-4 right"
						href="https://pypi.org/user/harrysharma1/">
						<i class="fa-brands fa-python" style="font-size:24px;"></i>
					</a>
					&nbsp;
					<a class="grey-text text-lighten-4 right"
						href="https://crates.io/users/harrysharma1">
						<i class="fa-brands fa-rust" style="font-size:24px;"></i>
					</a>
					&nbsp;
					<a class="grey-text text-lighten-4 right"
						href="mailto:harrysharma1066@gmail.com">
						<i class="fa-solid fa-envelope" style="font-size:24px;"></i>
					</a>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>
