<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<script src="https://unpkg.com/htmx.org@1.9.11"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://cdn.tailwindcss.com"></script>

<body class="bg-neutral-900">
	<nav>
		<div class="nav-wrapper black">
			<a href="/" class="brand-logo">Harry Sharma</a>

			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
	</nav>
	<div class="flex flex-wrap gap-5 mt-10 ml-10  w-[950px]">
		<a href="#"
			class="block w-[550px] h-[550px] p-6 border border-gray-200 rounded-lg bg-neutral-800 hover:bg-neutral-950">

			<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy
				technology
				acquisitions 2021</h5>
			<p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise
				technology
				acquisitions of 2021 so far, in reverse chronological order.</p>

		</a>
		<a href="#"
			class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

			<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy
				technology
				acquisitions 2021</h5>
			<p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise
				technology
				acquisitions of 2021 so far, in reverse chronological order.</p>

		</a>

	</div>

</body>

</html>
