<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<script src="https://unpkg.com/htmx.org@1.9.11"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://cdn.tailwindcss.com"></script>

<body class="bg-neutral-900">
	<nav>
		<div class="nav-wrapper black">
			<a href="/" class="brand-logo">Harry Sharma</a>

			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
	</nav>
	<div class="flex flex-wrap gap-5 mt-10 ml-10  w-[950px]">
		<div class="block w-[550px] h-[550px] p-6 rounded-lg bg-neutral-950">
			<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
				Welcome to my page
			</h5>
			<div class="font-normal text-gray-700 dark:text-gray-400">
				<p class="font-normal text-gray-700 dark:text-gray-400">
					I am currently doing my Undergrad at <a href="https://www.kcl.ac.uk" class="hover:underline hover:text-gray-300">King's College London</a>,
					where I am doing an industry placement within the University under the <a href="https://www.kcl.ac.uk/research/facilities/e-research" class="hover:underline hover:text-gray-300">e-Research department (under RMID)</a>
                                </p>
				<br>
				<p> 
					This website will go over some of the projects I have taken part in, both in and out of my time with e-Research.	
			        </p>
			</div>

		</div>
	</div>

</body>

</html>
