{{define "_head"}}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Harry Sharma</title>
	<script src="https://unpkg.com/htmx.org@1.9.11"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://kit.fontawesome.com/cc9d8ec964.js" crossorigin="anonymous"></script>
	<style>
		{{range .GoodReads.Style}}
		{{.}}
		{{end}}
		code {
			font-family: Consolas,"courier new";
			color: crimson;
			background-color:#a6a6a6;
			padding: 2px;
			font-size: 25%;
			border-radius: 4px;
		}
	</style>
</head>
{{end}}


