{{define "contact"}}
<!DOCTYPE html>
<html lang="en">

{{template "_head"}}

<body class="bg-neutral-900">
	<nav>
		<div class="nav-wrapper black">
			<a href="/" class="brand-logo">Harry Sharma</a>

			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>
	</nav>
	<h1 class="text-white">Contact</h1>

	<footer class="page-footer black">
		<div class="footer-copyright">
			<div class="container">
				© Harry Sharma 2024
				<div class="flex flex-wrap gap-1 right">
					<a class="grey-text text-lighten-4 right"
						href="https://github.com/harrysharma1">
						<i class="fa-brands fa-github" style="font-size:24px;"></i>
					</a>
					&nbsp;
					<a class="grey-text text-lighten-4 right"
						href="https://www.linkedin.com/in/harry-sharma-567b21225/">
						<i class="fa-brands fa-linkedin" style="font-size:24px;"></i>
					</a>
					&nbsp;
					<a class="grey-text text-lighten-4 right"
						href="https://pypi.org/user/harrysharma1/">
						<i class="fa-brands fa-python" style="font-size:24px;"></i>
					</a>
					&nbsp;
					<a class="grey-text text-lighten-4 right"
						href="https://crates.io/users/harrysharma1">
						<i class="fa-brands fa-rust" style="font-size:24px;"></i>
					</a>
					&nbsp;
					<a class="grey-text text-lighten-4 right"
						href="mailto:harrysharma1066@gmail.com">
						<i class="fa-solid fa-envelope" style="font-size:24px;"></i>
					</a>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>
{{end}}
