{{define "contact"}}
<!DOCTYPE html>
<html lang="en">

{{template "_head"}}

<body class="bg-neutral-900">
	<div class="flex flex-col h-screen">
		<div>{{template "_navbar"}}</div>
		<div class="flex-grow">
			<h1 class="text-white">Contact</h1>
			<br>
			<div class="h-96 w-1/2 p-4 mx-auto text-center border">
				<a class="grey-text text-lighten-4 right"
					href="https://github.com/harrysharma1">
					<i class="fa-brands fa-github" style="font-size:24px;"></i>
				</a>
				&nbsp;
				<a class="grey-text text-lighten-4 right"
					href="https://www.linkedin.com/in/harry-sharma-567b21225/">
					<i class="fa-brands fa-linkedin" style="font-size:24px;"></i>
				</a>
				&nbsp;
				<a class="grey-text text-lighten-4 right"
					href="https://pypi.org/user/harrysharma1/">
					<i class="fa-brands fa-python" style="font-size:24px;"></i>
				</a>
				&nbsp;
				<a class="grey-text text-lighten-4 right"
					href="https://crates.io/users/harrysharma1">
					<i class="fa-brands fa-rust" style="font-size:24px;"></i>
				</a>
				&nbsp;
				<a class="grey-text text-lighten-4 right"
					href="mailto:harrysharma1066@gmail.com">
					<i class="fa-solid fa-envelope" style="font-size:24px;"></i>
				</a>
			</div>
		</div>
		<div>{{template "_footer"}}</div>
	</div>
</body>

</html>
{{end}}
