{{define "index"}}
<!DOCTYPE html>
<html lang="en">

{{template "_head"}}

<body class="bg-neutral-900">
	{{template "_navbar"}}
	<div class="flex flex-wrap gap-10 mt-10 ml-10 mr-10 mb-10">
		<div class="block w-[550px] h-[250px] p-6 rounded-lg border border-neutral-50 bg-neutral-950">
			<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
				Welcome to my page
			</h5>
			<div class="font-normal text-gray-700 dark:text-gray-400">
				<p>
					I am currently doing my Undergrad at <a href="https://www.kcl.ac.uk"
						class="hover:underline hover:text-gray-300">King's College London</a>,
					where I am doing an industry placement within the University under the <a
						href="https://www.kcl.ac.uk/research/facilities/e-research"
						class="hover:underline hover:text-gray-300">e-Research department (under
						RMID)</a>
				</p>
				<br>
				<p>
					This website will go over some of the projects I have taken part in, both in and
					out of my time with e-Research.
				</p>
			</div>
		</div>
		<div class="block w-[550px] h-[250px] p-6 rounded-lg border-neutral-50 bg-neutral-900">
			<p><img src="https://github-readme-stats.vercel.app/api?username=harrysharma1&amp;show_icons=true&amp;theme=tokyonight"
					alt="Harry&#39;s GitHub stats"></p>
		</div>

		<div class="block w-[300px] h-[370px]  rounded-lg border border-neutral-50 bg-neutral-950">
			<p><a href="https://github.com/anuraghazra/github-readme-stats"><img
						src="https://github-readme-stats.vercel.app/api/top-langs/?username=harrysharma1&amp;layout=donut-vertical"
						alt="Top Langs"></a></p>
		</div>

		<div class="block w-[450px] h-[370px] p-6 rounded-lg border border-neutral-50 bg-neutral-950">
			<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
				Flake8 CLI in different languages
			</h5>
			<div class="font-normal text-gray-700 dark:text-gray-400">
				<p>
					Here are some CLI implementation calling on basic API endpoints.
					The main focus was trying to use mainly the languages standard library.
				</p>
				<br>
				<p>
					I did go a bit over the top with python when it came to styling terminal
					output.
				</p>
				<br>
				<p>
					The best of the three to program in had to be, in my opinion, Golang.
				</p>
				<br>
				<ul class="max-w-md space-y-1">
					<li> <a href="https://github.com/harrysharma1/goflake8api"
							class="hover:underline hover:text-gray-300">⚪ Implementation in
							Golang</a></li>
					<li> <a href="https://github.com/harrysharma1/rust-flake8api"
							class="hover:underline hover:text-gray-300">⚪ Implementation in
							Rust</a></li>
					<li> <a href="https://github.com/harrysharma1/flake8api"
							class="hover:underline hover:text-gray-300">⚪ Implementation in
							Python</a></li>
				</ul>
			</div>
		</div>
		<div class="block w-[450px] h-[370px] p-6 rounded-lg border border-neutral-50 bg-neutral-950">
			<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
				Spack Open Source Contributions
			</h5>
			<div class="font-normal text-gray-700 dark:text-gray-400">
				<p>
					Spack is an open source package manager, written in Python, used to build and
					run software on HPC's.
				</p>
				<br>
				<p>
					I have made some software contributions for Spack. The next goal would be to
					contribute
					to the actual Spack build systems.
				</p>
				<br>
				<ul class="max-w-md space-y-1">
					<li><a href="https://github.com/spack/spack/pull/41714"
							class="hover:underline hover:text-gray-300">⚪
							Vbz-compression</a></li>
					<li><a href="https://github.com/spack/spack/pull/41967"
							class="hover:underline hover:text-gray-300">⚪ Glow</a></li>
					<li><a href="https://github.com/spack/spack/pull/41988"
							class="hover:underline hover:text-gray-300">⚪ Dorado</a></li>
					<li><a href="https://github.com/spack/spack/pull/44339"
						        class="hover:underline hover:text-gray-300">⚪ Metacarpa </a></li>
				</ul>
			</div>
		</div>
	</div>
	<br>
	{{template "_footer"}}
	</body>

</html>
{{end}}
